{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}
<!-- Title  -->
<h1> Delete Post</h1>
    <form method='POST' enctype="multipart/form-data" >{% csrf_token %}
<h3>Are you sure you want to delete {{post.title}} post ? </h3>
<h4>{{post.title}}</h4>
<p>{{post.content}}</p>
<!-- <img src={% static 'img/Posts Images/' %}{{image}} class="post-img" alt="image post"> -->

        <input type="submit" value="Delete Post" class="btn btn-danger mt-4"/>
        <a href="{% url 'landing'%}" class="btn btn-primary mt-4">Cancel </a>
    </form>
{% endblock %}
