<!--Start of Top Nav Bar  -->

<nav class="navbar navbar-light bg-light navbar-expand-lg mb-4">
  <div class="container-fluid navbar-nav ">
    <!-- All tabs in Nav bar  -->
    <ul class="navbar-nav me-auto mb-2 ">

      <!-- Show Home tab to everyone  -->
      <a class="nav-link active" aria-current="page" href="{% url 'landing' %}">Home</a>

      <!-- Show tabs only to logged in users  -->
      {% if user.is_authenticated %}
      
          <a class="nav-link" href="{% url 'add-post'%}">Add Post</a>

          <a class="nav-link" href="{% url 'logout' %}">Log out</a>

          <!-- Show Tab to Admin only  -->
            {% if user.is_staff == True %}
              <a class="nav-link" href="{% url 'starter' %}">Manage Blog</a>
            {% endif %}

            <a class="nav-link" href="{% url 'add-avatar' %}">Edit Profile</a>
      
            <!-- Show tabs to users if not logged in yet -->
      {% else %}
      <a class="nav-link" href="{% url 'login' %}">Log in </a>
      <a class="nav-link" href="{% url 'register' %}">Register </a>
      {% endif%}


    </ul>
    <!-- Hello user if user logged in  -->
    {% if user.is_authenticated %}

        <ul class="navbar-nav ml-auto mb-2 ">
          <a class="nav-link" href="#"><h3 class="fw-light"> Hello {{user.username}} ! </h3></a>

        </ul>
    {% endif %}    
    <!-- End  Hello user if user logged in  -->
    
    <!-- Search ta in Nav Bar  -->
    <form method=POST action="{% url 'search'  %}" class="d-flex">
      {% csrf_token %}
      <input class="form-control me-2 ms-5" type="search" name="searched"  placeholder="Search by Tag or Title" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

  </div>


</nav>