<!-- Top Nav Bar  -->
<nav class="navbar navbar-light bg-light navbar-expand-lg mb-4">
  <div class="container-fluid navbar-nav ">
    <ul class="navbar-nav me-auto mb-2 ">

      <a class="navbar-brand" href="{% url 'landing'%}">Top Nav</a>
      <a class="nav-link active" aria-current="page" href="{% url 'landing'%}">Home</a>
      <a class="nav-link" href="{% url 'post'%}">Posts</a>
      {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'post'%}">Add Post</a>

      <a class="nav-link" href="{% url 'logout' %}">Log out</a>

      {% else %}
      <a class="nav-link" href="{% url 'login' %}">Log in </a>
      <a class="nav-link" href="{% url 'register' %}">Register </a>
      {% endif%}

      <a class="nav-link" href="#">Features</a>


    </ul>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

  </div>


</nav>