{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'css/landing.css' %}" rel="stylesheet">

<!-- Home Content  -->
<section class="content-item grey" id="blog-timeline">
    <div class="container">
        <div class="row">
            <h2>Welcome to SONSZ-Blog</h2>
            <!-- BLOG POSTS - START -->
            <div class="col-sm-8">
                <div class="timeline">
                    <!-- BLOG POST - START -->


                    {% for post in pg %}

                    <div class="blog-post">
                        <div class="blog-info">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class=" user-avatar"
                            alt="avatar-img">
                            <div>{{post.user.username}}</div>
                        </div>
                        <h3><a href="{% url 'like' post.id %}">{{post.title}}</a></h3>
                        <div class="date-xs">{{post.date_of_publish}}</div>
                        <p>
                            <a href="{% url 'like' post.id %}" target="_self">
                                <img class="img-responsive pull-right" src={% static post.picture %} alt="post-img"></a>
                                {{post.content}}
                        </p>
                        <!--
                            <ul class="blog-tags list-unstyled list-inline d-flex flex-row  ">
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag "></i>book</a></li>
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag "></i>music</a></li>
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>nature</a></li>
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>read</a></li>
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>songs</a></li>
                                <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>sunshine</a>
                                </li>
                            </ul>
                        -->
                    </div>
                {% endfor %}
                        </div>
                    </div>
                    <!-- End of Posts  -->
                    
            <!-- SIDEBAR - Section -->
            <div class="col-sm-4">
                <!-- Categories Section  -->
                <div class="sidebar">
                    <h3>Categories</h3>
                    <div class="box categories">

                        <ul class="list-unstyled">
                            {% for category in categories %}
                            <li>
                                <a href={% url "cat-posts" category.id %}><span>{{ category.cat_name }} </span></a>
                                {% if user.is_authenticated %}
                                {% if user in category.user.all %}
                                <a type="button" class="btn un-sub"
                                    href="{% url 'unsubscribe' category.id %}">Unsubscribe</a>
                                {% else %}
                                <a type="button" class="btn subBtn"
                                    href="{% url 'subscribe' category.id %}">Subscribe</a>
                                {% endif %}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Recent Posts Section  -->

                <h3>Recent Posts</h3>
                <div class="box posts">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-right"></i><a href="#">Introducing WordPress 4.0 “Benny”</a>
                            <div>27/02/2014</div>
                        </li>
                        <li><i class="fa fa-chevron-right"></i><a href="#">Nature Center: Earth Day Festival</a>
                            <div>18/02/2014</div>
                        </li>
                        <li><i class="fa fa-chevron-right"></i><a href="#">Two New Stores Set to Open in
                                Downtown</a>
                            <div>05/02/2014</div>
                        </li>
                    </ul>
                </div>

                <!-- Tags Section  -->

                <h3>Tags</h3>
                <div class="box tags">
                    <ul class="blog-tags list-unstyled list-inline d-flex flex-wrap ">
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>book</a></li>
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>music</a></li>
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>nature</a></li>
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>read</a></li>
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>songs</a></li>
                        <li><a class="btn btn-secondary all-tags " href="#"><i class="fa fa-tag"></i>sunshine</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  End of SIDEBAR  -->
    </div>
    </div>
</section>

<!-- END of Home content -->

<!-- Start of pagination -->

        <!-- <br>
        {{pg }} <br>
        Has Previous :{{ pg.has_previous}}<br>
        Has Next :{{pg.has_next}} <br>
        Number :{{pg.number}} <br>
        pages :{{pg.paginator.num_pages}} <br>
        <hr> <br> <br> -->

        <!-- Previous Section  -->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <!-- if page has previous show that  -->

            {% if pg.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo First</a>
                </li>
                <li class="page-item " >
                    <a class="page-link" href="?page={{pg.previous_page_number}}">Previous</a> 
                </li> 

                <!-- if not disable previous  -->
                {%else%}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">
                            &laquo First
                        </a> 
                    </li>
                    <li class="page-item disabled" >
                        <a class="page-link" >
                            Previous
                        </a>
                    </li>
            {% endif%}


            <!-- <li class="page-item disabled"> <a href="#" class="page-link" >Page {{pg.number}} of {{pg.paginator.num_pages}} </a>  </li> -->
        
            <!-- SHOW available page numbers 1,2,3,4,......  -->

            {%for i in nums %}

                <li class="page-item">
                    <a class="page-link" href="?page={{ forloop.counter}}">
                        {{forloop.counter}}
                    </a> 
                </li>

            {% endfor %}

            <!-- Next Section  -->

            {% if pg.has_next%}

                <!-- if page has next show that  -->

                <li class="page-item">
                    <a class="page-link" href="?page={{pg.next_page_number}}">
                        next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{pg.paginator.num_pages}}">
                        Last &raquo
                    </a>
                </li>
            {% else %}
                 <!-- if not disable next button  -->

                <li class="page-item disabled">
                    <a class="page-link " >
                        next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{pg.paginator.num_pages}}">
                        Last &raquo
                    </a>
                </li>

            {% endif %}

        </ul>
    </nav>
    <!-- End of pagination -->

{% endblock %}

