{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'css/post.css' %}" rel="stylesheet">

<div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="card panel panel-white post shadow">
                    <div class="card-header post-heading">
                       
                        <div class="pull-left image">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle img-fluid avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a style="text-decoration: none;" href="#"><b>{{post.user}}</b></a>
                                <h6 class="fw-light">Added a new post</h6>
                                <h6 class="text-muted time">{{post.date_of_publish}}</h6><br><br>

                            </div>
                        </div>
                        <div class="btn-group" style="margin-left: 345px;">
                            {% if user.is_authenticated %}
                                <!-- only author post can modify post -->
                                {% if user.id == post.user.id  %}
                                        <!-- Edit link  -->
                
                                    <a  class="btn btn-sm btn-outline-success rounded-pill" style="text-decoration: none;"  href="{% url 'updatePost' post.id %}">EDIT</a>
                
                                        <!-- Delete link  -->
                
                                    <a  class="btn btn-sm btn-outline-secondary rounded-pill" style="text-decoration: none;"  href="{% url 'delete-post' post.id %}">Delete</a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="">
                        <img src={% static post.picture %} class="image" alt="image post" style="width:100%;">
                    </div>

                    <div class="post-description">
                        <br>
                        <h4>{{post.title}}</h4>
                        <p class="card-body">{{post.content}}</p>
                        <div>
                            <span class="btn btn-secondary all-tags ">{{post.category}}</span>
                        </div>
                       
                        <div class="">
                            <ul class="blog-tags list-unstyled list-inline ">
                                
                                    <li>
                                        {% for tag in post.tag.all %}
                                        <a class="btn btn-success all-tags" style="margin: .5%;"  href="#"><i class="fa fa-tag "></i>{{tag}}</a>
                                        {% endfor %} 
                                    </li>
                                
                            </ul> 

                        </div>
                        <div class="stats" >
                            <form class="stat-item" method="POST" action="{% url 'like' post.id %}"> {% csrf_token %}  
                                <button type="submit" class="btn btn-primary ">
                                    <i class="fa fa-thumbs-up icon">{{post.likes.all.count}}</i> 
                                </button>
                            </form>
                            <form class="stat-item" method="POST" action="{% url 'dislike' post.id %}"> {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-thumbs-down icon">{{post.dislikes.all.count}}</i> 
                                </button>
                            </form>
                        </div>
                    </div>

                     <!-- Add Comment Form -->
                    <div class="card my-4">
                        <!-- <div class="img-push">
                            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                          </div> -->
                        <h5 class="card-title fw-light">Leave a Comment:</h5>
                        <div class="card-body">
                            <form method="POST" action="{% url 'comment' post.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="text" rows="3" required class="form-control input-sm" placeholder="Press enter to post comment"><br>
                                    <button class="btn btn-sm btn-primary" type="submit">Comment</button>
                                </div>    
                            </form>
                        </div>
                    </div>

                
                    <!-- Display Comments -->
                    <h4 class="fw-light" >comments ({{post.comments.all.count}})</h4>
                    {% for comment in post.comments.all %}
                    <div class="card media mb-4">
                        <img class="d-flex mr-3 rounded-circle article-img" src="" alt="">
                        <div class="card-body media-body">
                            <h5 class="mt-0" ><a class="text-dark" style="text-decoration: none;" href="{% url 'post' comment.user.username %}">{{ comment.user}}</a> :</h5>
                            <p class="text-muted">{{comment.comment_time}}</p>
                            <h5>{{ comment.comment_body|linebreaks }}</h4>
                            
                            <hr>
                        </div>
                        <h5>Comments ({{post.comments.all.count}})...</h5>
                        {% for comment in post.comments.all %}
                        <ul class="comments-list">
                            <li class="comment">
                                <a class="pull-left" href="javascript:void(0);">
                                    <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user"><a href="{% url 'post' comment.user.id%}">{{ comment.user}}</a></h4>
                                        <h5 class="time">{{comment.comment_time}}</h5>
                                    </div>
                                    <p>{{comment.comment_body|linebreaks }}</p>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                    </div>
                    {% endfor %}

                </div>
            </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>
</div>
{% endblock %}
