{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}

<!-- Style and Bootstrap Links  -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'css/post.css' %}" rel="stylesheet">

<!-- Start of Post Page  -->
<div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="card panel panel-white post shadow">
                    <!-- Start Header of Post -->
                    <div class="card-header post-heading">
                       
                        <div class="pull-left image">
                            <img src={% static post.user.account.avatar %} class="rounded-circle img-fluid avatar" alt="user profile image">
                        </div>
                        <!-- user and date details  -->
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a style="text-decoration: none;" href="#"><b>{{post.user}}</b></a>
                                <h6 class="fw-light">Added a new post</h6>
                                <h6 class="text-muted time">{{post.date_of_publish}}</h6><br><br>

                            </div>
                        </div>
                         
                        <!-- Delete and Edit buttons if logged in  -->
                        <div class="btn-group" style="margin-left: 45%;">
                            {% if user.is_authenticated %}
                                 <!-- Check if the user is logged in so, only author post can modify posts -->
                                {% if user.id == post.user.id  %}
                                        <!-- Edit link  -->
                
                                    <a  class="btn btn-sm btn-outline-success rounded-pill" style="text-decoration: none;"  href="{% url 'updatePost' post.id %}">EDIT</a>
                
                                        <!-- Delete link  -->
                
                                    <a  class="btn btn-sm btn-outline-secondary rounded-pill" style="text-decoration: none;"  href="{% url 'delete-post' post.id %}">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!-- End Delete and Edit buttons   -->

                    </div>
                    <!-- End Header of post  -->

                    <!-- Post Image   -->
                    <div >
                        <img src={% static post.picture %} class="image" alt="image post" style="width:100%;">
                    </div>
                    
                    <!-- Start post body  -->
                    <div class="post-description">
                        <br>
                        <!-- Post Title  -->
                        <h4>{{post.title}}</h4>
                        <!-- Post Content  -->
                        <p class="card-body">{{post.content}}</p>

                        <div>
                            <h5>Category: <span class="btn btn-secondary all-tags "> {{post.category}}</span></h5>
                          
                        </div>
                       <!-- Start of Tags  -->
                        <div class="">
                            <ul class="blog-tags list-unstyled list-inline ">
                                
                                    <li>
                                        {% for tag in post.tag.all %}
                                        <a class="btn btn-success all-tags" style="margin: .5%;"  href="#"><i class="fa fa-tag "></i>{{tag}}</a>
                                        {% endfor %} 
                                    </li>
                                
                            </ul> 

                        </div>
                        <!-- End of Tags  -->

                        <!-- Start Likes and Dislikes Section  -->
                        <div class="stats" >
                            <!-- Likes Section  -->
                            <form class="stat-item" method="POST" action="{% url 'like' post.id %}"> {% csrf_token %}  
                                <button type="submit" class="btn btn-primary ">
                                    <i class="fa fa-thumbs-up icon">{{post.likes.all.count}}</i> 
                                </button>
                            </form>
                            <!-- Dislikes Section  -->
                            <form class="stat-item" method="POST" action="{% url 'dislike' post.id %}"> {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-thumbs-down icon">{{post.dislikes.all.count}}</i> 
                                </button>
                            </form>  
                        
                        </div>
                        <!-- End of Likes and Dislikes Section  -->
                    </div>

                     <!-- Add Comment Form -->
                    <div class="card my-4">
                        <!-- <div class="img-push">
                            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                          </div> -->
                        <h5 class="card-title fw-light" style="margin: 1%;" >Leave a Comment:</h5>
                        <div class="card-body">
                            <form method="POST" action="{% url 'comment' post.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="text" rows="3" required class="form-control input-sm" placeholder="Press enter to post comment"><br>
                                    <button class="btn btn-sm btn-primary" type="submit">Comment</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                    <div class="card">
                         <!-- Display all commennts -->
                        <h5 class="card-header fw-light">Comments ({{post.comments.all.count}})...</h5> 
                        <!-- Retrieve all commennts in each post -->
                        {% for comment in post.comments.all %}
                        
                            <ul class="comments-list card-body list-unstyled">
                                <li class="comment">
                                    <a class="pull-left rounded-circle img-fluid" href="javascript:void(0);"> <img class="avatar rounded-circle img-fluid " style="width: 50px;" src={% static comment.user.account.avatar %} alt="avatar"> </a>
                                    <div class="comment-body">
                                        <div class="comment-heading card-text">
                                            <h4 class="user"><a class="card-title" style="margin-left: 1%; text-decoration: none;" href="#">{{ comment.user}}</a></h4>
                                            <h5 class="time text-muted fs-6">{{comment.comment_time}}</h5> 
                                        </div>
                                        <p class="fs-1">{{comment.comment_body|linebreaks }}</p>
                                    </div>
                                </li>
                            </ul> 
                        {% endfor %} 
                    </div>    
                </div>
                </div>
                <!-- End of Post Page  -->
            </div>
                    
            </div>
            </div>
            
        </div>
        
    </div>
    
</div>
</div>
{% endblock %}


