{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}


    <!-- check if user logged in  -->
    {% if user.is_authenticated %}


        <!-- Show Edit form  -->
        <form method='POST' class="container" enctype="multipart/form-data" >{% csrf_token %}
            <div class="row shadow p-3 mb-4 ">
                <div class="col-6  ">
                    <h3 class="text-center text-light bg-success p-2 fw-light bg-opacity-75">Edit Post</h3>
                    <!-- fields in edit form  -->
                   <div class="my-4"> {{post_form.title.label}}        {{post_form.title}} </div> 
                   <div class="mb-4"> {{post_form.content.label}}     {{post_form.content}} </div> 
                   <div class="mb-4"> {{post_form.picture.label}}     {{post_form.picture}} </div> 
                   <div class="mb-4"> {{post_form.category.label}}     {{post_form.category}} </div> 
                   <div class="mb-4"> {{post_form.tag.label}}     {{post_form.tag}} </div>  

                   <!-- Tag name input  -->
                   <label class="form-label col-12">Tag Name:</label>
                   <input type="text" name="tag_name" class="form-control" data-role="tagsinput" maxlength="100" id="id_tag_name" style="display: none;">

                    
                </div>
            </div>
            <br>
            <input type="submit" value="Edit " class=" btn btn-success"/>
            
            <a href="{% url 'landing'%}"  class="btn btn-secondary">Cancel </a>
        </form>

    {% else %}
        <!-- if user try to reach edit form with link show this -->
        <div class="container shadow p-3 mb-4 ">


            <h3 class="text-center text-light bg-success p-2 fw-light bg-opacity-75">Edit Post</h3> 

            <h3 style="color: red;"> You are not allowed to be here in
                <stong class="text-primary">Edit Page </stong> 
                please go and Login here 
                <a href="{% url 'login' %}">login</a> 
            </h3>

        </div>

    {% endif %}





{% endblock %} 
