{% extends 'dj_blog/base.html' %}
{% load static %}

{% block main_block %}
{% if user.is_authenticated %}

<!-- Title  -->
    <form class="container" method='POST' enctype="multipart/form-data" >{% csrf_token %}
        <div class="row shadow p-3 mb-4 ">
            <div class="col-6">
                <h3 class="text-center text-light bg-success p-2 fw-light bg-opacity-75">Edit Post</h3>
                {{form.as_p}}
                {{tag.as_p}}
            </div>
        </div><br>

        <input type="submit" value="Post" class=" btn btn-success"/>
        <input type="reset" value="Clear" class=" btn btn-secondary"/>
    </form>
{% else %}
    <!-- Show message if user try edit link when logout  -->

    <div class="container shadow p-3 mb-4 ">
        <h3 class="text-center text-light bg-success p-2 fw-light bg-opacity-75">Delete Post</h3> 

        <h3 style="color: red;"> You are not allowed to be here in
            <stong class="text-primary">Edit Page </stong> 
            please go and Login here 
            <a href="{% url 'login' %}">login</a> 
        </h3>

    </div>

{% endif %}    
{% endblock %}
