{% extends 'dj_admin/base_layout.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid bg-dark shadow-lg p-2">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center text-ligh fw-light">Edit Category</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
   
    <!-- Main content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 md-8 sm-8">
          <!-- Start Edit category form -->
            <form method="POST" action=""> 
                {% csrf_token %}
                <div class="input-group mb-3 col-6">
                    <label class="col-6" >Category Name</label>
                     <span class="col-2">{{ cat_form.cat_name }}</span>
                </div>
                <div>
                    <input class="btn btn-dark" type="submit" value="Submit">
                </div>
            </form>
            <div>
              <!-- Handling the category form errors  -->
                {% for field, errors in cat_form.errors.items %}
                    {% for error in errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %} 
                {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}