{% extends 'dj_admin/base_layout.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Edit Post</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
   

    <!-- Main content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 md-8 sm-8">

            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ post_form.as_p }}
                    {% comment %} {{ tag_form.as_p }} {% endcomment %}
                    <label>Tag Name:</label>
                    <input type="text" name="tag_name" class="form-control" data-role="tagsinput" maxlength="100" id="id_tag_name" style="display: none;">
                    {% comment %} {{ tag_form.as_p }} {% endcomment %}
                    {% for i in counter %}
                        {{tag_form_|add:i}}
                    {% endfor %}
                </div>
                <div>
                    <input class="btn btn-dark" type="submit" value="Submit">
                </div>
            </form>
            <div>
                {% for field, errors in post_form.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %} 
                {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}