{% extends 'dj_admin/base_layout.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Forbidden Words Creation</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
   

    <!-- Main content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 md-8 sm-8">

            <form method="POST" action=""> 
                {% csrf_token %}
                <div class="input-group mb-3">
                    <label class="" >Forbidden Word</label>
                     <span>{{ word_form.forbidden_word }}</span>
                </div>
                <div>
                    <input class="btn btn-dark" type="submit" value="Submit">
                </div>
            </form>
            <div>
                <!-- Handling the forbidden word form errors  -->
                {% for field, errors in word_form.errors.items %}
                               {% for error in errors %}
                               <p class="text-danger">{{ error }}</p>
                               {% endfor %}
                        {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>

{% endblock %}