{% extends 'dj_admin/base_layout.html' %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid bg-dark shadow-lg p-2">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center text-light fw-light">Users Info</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  

    <!-- Main content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col md-12 sm-6">
        <table style="text-align : center;" class="table table-lg table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Email Address</th>
              <th scope="col">Last Login</th>
              <th scope="col">Locked</th>
              <th scope="col" colspan="5">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
           <tr style="background-color:	#636e72">
           <td>{{user.id}}</td>
           <td>{{user.username}}</td>
           <td>{{user.email}}</td>
           <td>{{user.last_login}}</td>
           <td>{{user.account.is_locked}}</td>

           <td style="background-color:	#636e72" colspan="5" style="text-align:center; padding:15px;">
            <a class="btn" style="background-color: #ffc507; " href="/dj_admin/promote/{{user.id}}">Promote</a>
            {% if user.account.is_locked == True  %}
            <a class="btn" style="background-color: #ffc507; " href="/dj_admin/unlock/{{user.id}}">Unlock</a>
            {% else %}
            <a class="btn" style="background-color: #ffc507; "href="/dj_admin/lock/{{user.id}}" >Lock</a>
            {% endif %}
          </td>
          </tr> 
          {%endfor%}
          </tbody>
        </table>
        </div>
      </div>
    </div>

  {% endblock %}
